
.navBarTitle{
    font-size : 20px;
}
.navBarElementStyle{
    font-size : 20px;
    margin: 15px;
}

.footer a{
    margin : 5px;

}

.footer p {
    margin-top: 10px;;
    margin-bottom: 0px;
    padding-bottom: 10px;;
}
.footer{
    text-align: center;
    background-color: darkgrey;

}